<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Nube Colectiva" />
    <link rel="shortcut icon" href="http://nubecolectiva.com/favicon.ico" />
    <meta name="theme-color" content="#000000" />

    <title>SMS</title>

    <!-- CSS Bootstrap  -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>

  <body>
    <div class="pccp mt-5 mb-3" align="center">
      <!-- P -->
      <script
        async
        src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
      ></script>

      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-2390065838671224"
        data-ad-slot="1441100372"
        data-ad-format="auto"
        data-full-width-responsive="true"
      ></ins>

      <!-- End P -->
    </div>

    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-12">
          <h1 style="font-size: 28px; margin-top: 50px" class="text-center">
            Enviar SMS
          </h1>

          <div class="header">
            <div class="page-content">
              <div class="col-md-10">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Productos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Crear
                    </li>
                  </ol>
                </nav>

                <div class="row">
                  <div class="col-md-12">
                    <div class="content-box-large">
                      <div class="panel-heading">
                        <div class="panel-title"><h2>Crear</h2></div>
                      </div>

                      <div class="panel-body">
                        <section class="example mt-4">
                          <form
                            method="POST"
                            action="http://localhost:3000/api/v1/productos"
                            role="form"
                            enctype="multipart/form-data"
                          >
                            <input type="hidden" name="_method" value="POST" />

                            <div class="mb-3">
                              <label for="nombre" class="negrita">Nombre:</label>
                              <div>
                                <input
                                  class="form-control"
                                  placeholder="Zapatos Marrones de Cuero"
                                  required="required"
                                  name="nombre"
                                  type="text"
                                  id="nombre"/>
                              </div>
                            </div>

                            <div class="mb-3">
                              <label for="precio" class="negrita">Precio:</label>
                              <div>
                                <input
                                  class="form-control"
                                  placeholder="4.50"
                                  required="required"
                                  name="precio"
                                  type="text"
                                  id="precio"/>
                              </div>
                            </div>

                            <div class="mb-3">
                              <label for="stock" class="negrita">Stock:</label>
                              <div>
                                <input
                                  class="form-control"
                                  placeholder="40"
                                  required="required"
                                  name="stock"
                                  type="text"
                                  id="stock"/>
                              </div>
                            </div>

                            <div class="mb-3">
                              <label for="img" class="negrita">Selecciona una imagen:</label>
                              <div>
                                <input
                                  name="img"
                                  type="file"
                                  id="img"
                                  required
                                />
                              </div>
                            </div>

                            <button type="submit" class="btn btn-info">
                              Guardar
                            </button>
                            <a href="/" class="btn btn-warning">Cancelar</a>
                          </form>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />

     


    <!-- JS Bootstrap  -->
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
  </body>
</html>
