<!DOCTYPE html>
<html>
<head>
    <title>Confirmación de envío de SMS</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }
        p {
            font-size: 24px;
            margin-bottom: 30px;
        }
        .success-message {
            color: green;
            font-weight: bold;
        }
        .error-message {
            color: red;
            font-weight: bold;  
        }
        button {
            margin-top: 30px;
            font-size: 18px;
            background-color: #008CBA;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Envío de SMS</h1>
    <p class="success-message">¡Tu mensaje de texto ha sido enviado!</p>
    <button onclick="location.href='/enviar'">Volver</button>
</body>
</html>